body {
    background-color: rgb(50, 3, 88);
    color: rgb(98, 228, 98);
    height: 100vh;
    font-family: monospace;
}

.header-border {
    display: flex;
    justify-content: center;
}

.header-main {
    background-color: black;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-direction: 1 1 auto;
    /* padding: 1% 1% 1% 0; */
    border-radius: 10px;
    border: 1px solid white;
}

.logo{
    /* color: green; */
    font-size: 36px;
    font-weight: 700;
}

.header-links {
    /* color: green; */
    font-size: 16px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 2% 0 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(149, 73, 250);
}

a.inactive {
    color: rgb(98, 228, 98);
    margin-right: 25px;
}

a:hover {
    color: rgb(98, 228, 98);
}

.about-border {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: fit-content;
    background-color: black;
    border: 1px solid white;
    margin: 3%;
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    margin: 2%;
}

.about-info {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid red;
    max-width: 1000px;
}

.who,
.what,
.where {
    border: 2px solid rgb(50, 3, 88);
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    min-width: 100px;
    max-width: 250px;
}