body {
    background-color: rgb(50, 3, 88);
    color: rgb(98, 228, 98);
    height: 100vh;
    font-family: monospace;
}

.header-border {
    display: flex;
    justify-content: center;
}

.header-main {
    background-color: black;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: 1 1 auto;
    padding: 1% 1% 1% 5%;
    border-radius: 10px;
}

.logo{
    /* color: green; */
    padding-right: 10%;
    font-size: 36px;
    font-weight: 700;
}

.header-links {
    /* color: green; */
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 1% 0 0%;
}



a {
    text-decoration: none;
    color: rgb(149, 73, 250);
}

a:hover {
    color: rgb(98, 228, 98);
}

.about-border {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: fit-content;
    background-color: black;
    margin: 3%;
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    margin: 2%;
}

.about-info {
    font-size: 24px;
    display: flex;
}

.who,
.what,
.where {
    border: 5px solid rgb(50, 3, 88);
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
}