body {
    background-color: blue;
    color: green;
}

.header-border {
    background-color: darkblue;
}

.header-main {
    background-color: black;
}

.logo{
    color: green;
}

.header-links {
    color: green;
}

ul {

}